<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvc.repository.BoardDao">

	
	<resultMap type="notice" id="noticeResult"/>
	
	<select id="totCnt" parameterType="noticesch" resultType="int">
	   		SELECT count(no)
			FROM notice
			where 1=1
			<if test="title !=null and title!='' ">
				and title like '%'||#{title}||'%'
			</if>
			
			<if test="writer !=null and writer!='' ">
				and writer like '%'||#{writer}||'%'
			</if>
			
			
	</select>
	
	
	<select id="getNoticeList" parameterType="noticesch" resultMap="noticeResult">

	SELECT *
	FROM(
		SELECT rownum cnt, n.*
		FROM (SELECT *
			  FROM notice n
			  WHERE 1=1
			<if test="title !=null and title!='' ">
				and title like '%'||#{title}||'%'
			</if>
			
			<if test="writer !=null and writer!='' ">
				and writer like '%'||#{writer}||'%'
			</if>
			  ORDER BY TOLIST DESC) n)
			WHERE cnt BETWEEN #{start} AND #{end}
	</select>
	
	<insert id="noticeInput" parameterType="notice" > 
		INSERT INTO notice values(notice_seq.nextval,#{header},#{title},#{writer},
							to_char(SYSDATE,'MM-DD'),sysdate,0, 0,#{etc},0)
	</insert>


	<!-- 조회수 증가 -->
	<update id="counting" parameterType="int">
		update notice
		set counting= counting+1
		where no=#{no}
	
	</update>

   <!-- 리플 조회  -->
   
   <select id="totCntReple"  parameterType="int"  resultType="int">
		SELECT count(no)
		FROM REPLE
		WHERE NO=#{no}
   </select>
   <select id="getDetailNotice" parameterType="int" resultType="notice">
		   SELECT *FROM 
		   notice
		   WHERE NO=#{no}   
   </select>
   
   
   	<resultMap type="reple" id="repleResult"/>
 <!--   	public ArrayList<Reple> getReple(Notice n); -->
   	<select id="getReple" parameterType="hashmap" resultMap="repleResult">
		SELECT *
		FROM(
		SELECT rownum cnt, r.*
		FROM 
		(SELECT * 
		FROM reple
		WHERE NO=${no}
		START WITH r_level=0
		CONNECT BY PRIOR REPNO = R_LEVEL) r)
		WHERE cnt BETWEEN #{hash.start} AND #{hash.end}
   	</select>
   	
   	<insert id="inserReple" parameterType="reple">
   		INSERT INTO reple values(#{no},seq_reple.nextval,#{repno},to_char(SYSDATE,'MM-DD'),
		#{r_writer},sysdate,#{r_etc})
   	
   	</insert>

</mapper>